
body{ 
  font-size: 12pt; 
  font-family: Arial, Helvetica, sans-serif;
  background-image:url('images/background.png');
    
}
* {
  box-sizing: border-box;
}
header {
    
    padding: 30px;
    text-align: center;
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow:  3px, 3px,#999999;  /*NADJI KAKO SE SENCI BOJOM*/
    
}

.container {
  
  display: flex;
  max-width: 55%;
  border:  5px  solid gray;
  background-color: #eeeeee;
  margin: auto;
  padding: 5px;
}

.baner{
  background-image: url('images/rbg.png');
  background-repeat: repeat-x;
  width: 100%;
}



  .left {
  flex: 3;
  background: #EEEEEE;
 
}

.right {
  flex: 1;
  background-color: #A2B964;
}
footer {
  background-color: #A2B964;
  padding: 10px;
  text-align: center;
  color: white;
  max-width: 55%;
  margin: auto;

}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

}
.rating{
  font-size: 48pt;
  font-weight: bold;
  color: red;
  position: absolute;

}
.quotebubble {
  font-size: 13pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid #cccccc;
  border-radius: 12px;
  padding: 1em;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  line-height: 1.5;
}

.publication{
  font-size: 13pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  width: 90%;
  padding: 65px;
}
.critic-gif{ /*slika ispred kriticara*/
  padding-right: 5px;
  margin-left: 20px;
  vertical-align: middle;

}

.fres-gif { /*slika ispred komentara*/
  padding: 5px;
  vertical-align: middle;
}

dl{
  padding-left: 15px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}
dt{
  font-weight: bold;
  padding-top: 15px;

}

ul{
  list-style-type: none;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

a{
  color: #0c57c9;
}
#w3c{
  float:right;
  
}
